﻿@model IEnumerable<BooksWebPortal.Models.BookModel>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    function validate() {
        if ($("#searchString").val() == "") {
            $("#searchString").stop().css("background-color", "#FF7777").animate({ backgroundColor: "#FFFFFF" }, 1500);
        }
    }
</script>
<head>
    <title>Booksearch</title>
    <link href="@Url.Content("~/Content/Site.css")" type="text/css" rel="stylesheet"/>
</head>

<body>
    <header>
        <h1 class="headline1">Book search</h1>
    </header>
    
        @using (Html.BeginForm("SearchBooks", "Book", FormMethod.Post, new { onsubmit = "validate()" }))
        {
            <div class="searchSettings">
                <ul>
                    <li><h3>Search by: </h3></li>
                    <li><label><input id="title" type="radio" name="searchAttribute" value=1 checked />Title</label></li>
                    <li><label><input id="titleAndDescription" type="radio" name="searchAttribute" value=3 />Title and Description</label></li>
                    <li><label><input id="author" type="radio" name="searchAttribute" value=2 />Author</label></li>
                    <li><input class="textbox" id="searchString" type="text" name="searchString" /></li>
                    <li><button class="button" title="Search" type="submit">Search</button></li>
                </ul>
            </div>
        }

    <div class="results">
        @if (Model != null)
        {
            if (Model.Count() == 0)
            {
                    <p>No matching books were found</p>
            }
            else
            {
                foreach (var m in Model)
                {   
                    <hr>
                    <p class="text"><b>Title:</b>       @m.Title</p>
                    <p class="text"><b>Author</b>       @m.Author</p> 
                    <p class="text"><b>Price:</b>       @m.Price $</p>
                    <p class="text"><b>Description</b>  @m.Description</p>

                }
            }
        }
    </div>
</body>
