﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
    background-color: #efbf90;
}

.results {
    padding: 20px;
    width: 95%;
}

.text {
    display:block;
    margin-left:20px;
}

.searchSettings {
    margin-left: 25%;
}

.searchSettings li {
    display: inline-block;
	background-color: #fff;
}

.headline1 {
    text-align: center;
    padding:20px;
    font-style: italic;
    font-size: xx-large;
}

.button {
    margin: 7px;
}

.textbox {
    margin: 7px;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
